Options -Indexes -MultiViews +FollowSymLinks
RewriteEngine On
RewriteBase /manguonmo/public/

# Nếu là file hoặc thư mục thật thì truy cập trực tiếp
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Còn lại chuyển hết về index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
